In [1]:
import csv
import requests # pip install requests for easy http request for CSV data
import numpy as np
import pandas as pd

In [2]:
url = "http://www.randomservices.org/random/data/Galton.txt"
with requests.Session() as s:
    download = s.get(url)
decoded_content = download.content.decode('utf-8')
data_iter = csv.reader(decoded_content.splitlines(), delimiter='\t')
data = [data for data in data_iter]
 
df = pd.DataFrame(data[1:]) #skip first line
df.columns = data[0] #first line of CSV has col names

In [3]:
df

    Family Father Mother Gender Height Kids
0        1   78.5     67      M   73.2    4
1        1   78.5     67      F   69.2    4
2        1   78.5     67      F     69    4
3        1   78.5     67      F     69    4
4        2   75.5   66.5      M   73.5    4
..     ...    ...    ...    ...    ...  ...
893   136A   68.5     65      M   68.5    8
894   136A   68.5     65      M   67.7    8
895   136A   68.5     65      F     64    8
896   136A   68.5     65      F   63.5    8
897   136A   68.5     65      F     63    8

[898 rows x 6 columns]